.profile-pic {
  border-radius: 4px;
  float: right;
}

.bottom-text {
  font-size: 14px;
  margin: 5px 50px;
}

.bottom-button {
  font-size: 14px;
  line-height: 8px;
  padding: 12px;
  text-align: center;
  margin: 5px 20px;
  width: 70%;
}